@page "/produccion"

<PageTitle>Producción</PageTitle>

<h1>Datos de Producción diarios</h1>
<hr>
<div class="button" style="float: right;">
    <button class="btn btn-danger">Cancel</button>
</div>

<div class="row">
    <div class="col">
        <label>Fecha de Producción</label>
        <input type="datetime-local" name="" id="" class="form-control">
    </div>
    <div class="col">
        <label>Vacas en Producción</label>
        <input type="number" name="" id="" class="form-control">
    </div>
    <div class="col">
        <label>Litros de Leche</label>
        <input type="number" name="" id="" class="form-control">
    </div>
</div>

<div class="row">
    <button class="btn btn-success"> <span class="oi oi-plus"></span>Registrar</button>
</div>

<div class="container">
    <table class="table">
    <thead>
        <tr>
            <th>Fecha/Produccion</th>
            <th>Vacas/Producción</th>
            <th>Litros/Leche</th>
            </tr>
    </thead>
    <tbody>
        
            <tr>
                <td>10/01/2023 </td>
                <td>30 </td>
                <td>300 </td>
            </tr>
        
    </tbody>
</table>
</div>

@code {
    
}
