@page "/producciones"

<MenuDisplay />

<h1>Datos de Producción diarios</h1>
<button class="btn btn-success" @onclick="Agregar">
    <span class="oi oi-plus"></span> Agregar
</button>

<table class="table">
    <thead>
        <tr>
            <th>Fecha/Produccion</th>
            <th>Vacas/Producción</th>
            <th>Litros/Leche</th>
        </tr>
    </thead>
    <tbody>
        @if(Produc != null)
        {
            @foreach (var produc in Produc)
            {
                
                <tr>
                    <td>@produc.FechaProd </td>
                    <td>@produc.VacasProd </td>
                    <td>@produc.LitrosLeche </td>
                    <td><span class="btn btn-outline-warning" @onclick="()=>Editar(produc.ID)">Editar</span></td>
                </tr>
            }
        }
        else
        {
            <p>Cargando...</p>
        }
    </tbody>
</table>
        
        

@code 
{
    public List<ProduccionRecord>? Produc { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var response = await produccionesManager.GetAsync();
        if(response.Succeeded)
        {
            Produc = response.Items.ToList();
        }
    }

    public void Agregar()
    {
        urlHelper.NavigateTo("/producciones/crear",false);
    }

    public void Editar(int Id)
    {
        urlHelper.NavigateTo($"/producciones/editar/{Id}",false);
    }    
}