@page "/father/cow"

<PageTitle>Father Cow</PageTitle>
<h1>Registrar Bovino</h1>
<hr />

<div class="button" style="float: right;">
    <button class="btn btn-danger" @onclick="back">Back</button>
</div>

<div class="row">
    <h3>Padre Del Bovino</h3>
    <div class="col">
        <label for="txtID">ID del Padre</label>
        <input type="text" id="txtID" class="form-control" />
    </div>
    <div class="col">
        <label for="txtRaza">Raza</label>
        <input type="text" id="txtRaza" class="form-control" />
    </div>
    <div class="col">
        <label for="txtColor">Color</label>
        <input type="text" id="txtColor" class="form-control" />
    </div>
</div>
<div class="row mt-3">
    <button class="btn btn-success" @onclick="Registrar">
        <span class="oi oi-plus"></span> Registrar
    </button>
</div>

@code
{
    void back()
    {
        urlHelper.NavigateTo("/new/cow");
    }
    void Registrar()
    {
        urlHelper.NavigateTo("/mother/cow");
    }
}