@page "/ganado"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using TORO.Shared
@attribute [Authorize]

<PageTitle>Ganado</PageTitle>
<h1>Lista Del Ganado</h1>

<div class="row">
    <div class="col">
        <input type="search" @bind="Filtro">
    </div>
    <div class="col">
        <button class="btn btn-primary">Buscar</button>
        <button class="btn btn-warning">
            <span class="oi oi-pencil"></span>
        </button>
        <button class="btn btn-success" @onclick="AgregarVaca">
            <span class="oi oi-plus"></span> Agregar Vaca
        </button>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID/Bovino</th>
            <th>Raza</th>
            <th>Color</th>
            <th>Sexo</th>
            <th>ID/Padre</th>
            <th>ID/Madre</th>
            <th>Fecha/Nacimiento</th>
            <th>Peso/Nacer</th>
            <th>Observación</th>
        </tr>
    </thead>
    <tbody> 
        
            <tr>
                <td>230 </td>
                <td>Brahman </td>
                <td>Rojo </td>
                <td>Varon </td>
                <td>130 </td>
                <td>077 </td>
                <td>20-02-2022 </td>
                <td>35 </td>
                <td>Condiciones optimas </td>
            </tr>
        
    </tbody>
</table>

@code
{
    public string Filtro { get; set; } = "";

    void AgregarVaca()
    {
        urlHelper.NavigateTo("/new/cow");
    }
}