@page "/preñes/crear"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using TORO.Shared
@attribute [Authorize]

<PageTitle>Registrar/Preñes</PageTitle>
<h1>Datos de Preñes</h1>
<hr>

<div class="button" style="float: right;">
    <button class="btn btn-secondary" @onclick="back">
        <span class="oi oi-list-rich"></span> Ver Lista
    </button>
</div>

<div class="row">
    <h3>Creando datos de preñes</h3>
    <div class="col">
        <label>ID del Toro</label>
        <input type="text" name="" id="" class="form-control">
    </div>
    <div class="col">
        <label>Raza</label>
        <input type="text" name="" id="" class="form-control">
    </div>
    <div class="col">
        <label>ID de la Vaca</label>
        <input type="text" name="" id="" class="form-control">
    </div>
    <div class="col">
        <label>Raza</label>
        <input type="text" name="" id="" class="form-control">
    </div>
</div>

<div class="row">
    <div class="col">
        <label>Metodo de preñes</label>
        <select name="" id="" class="form-control">
            <option value="">Monta directa</option>
            <option value="">Inseminación artificial</option>
            <option value="">Transferencia de embriones</option>
        </select>
    </div>    
    <div class="col">
        <label>Fecha de preñes</label>
        <input type="date" name="" id="" class="form-control">
    </div>
    <div class="col">
        <label>Posible fecha de parto</label>
        <input type="date" name="" id="" class="form-control">
    </div>
    <div class="col">
        <label>Observación</label>
        <select name="" id="txtSexo" class="form-control">
            <option value="">Condiciones optimas</option>
            <option value="">Delgada</option>
            <option value="">Enferma</option>
            <option value="">Herida</option>
            <option value="">Coja</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col">
        <button class="btn btn-danger form-control">
            <span class="oi oi-x"></span>Cancelar
        </button>
    </div>
    <div class="col">
        <button class="btn btn-success form-control">
            <span class="oi oi-check"></span>Guardar
        </button>
    </div>
</div>

@code
{
    void back()
    {
        urlHelper.NavigateTo("/preñes");
    }
}