@page "/roles"

<MenuDisplay />

<h1>Roles</h1>
<button class="btn btn-success" @onclick="Agregar">
    <span class="oi oi-plus"></span> Agregar
</button>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @if(Roles != null)
        {
            @foreach (var rol in Roles)
            {
            <tr>
                <td>@rol.Id </td>
                <td>@rol.Nombre </td>
                <td> <span class="btn btn-outline-warning" @onclick="()=>Editar(rol.Id)">Editar</span></td>
            </tr>
            }
        }
        else
        {
            <p>Cargando...</p>
        }
    </tbody>
</table>

@code
{
    public List<UsuarioRolRecord>? Roles { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var response = await rolesManager.GetAsync();
        if(response.Succeeded)
        {
            Roles = response.Items.ToList();
        }
    }

    public void Agregar()
    {
        urlHelper.NavigateTo("/rol/crear",false);
    }

    public void Editar(int Id)
    {
        urlHelper.NavigateTo($"/rol/editar/{Id}",false);
    }
}

